@model Veterinaria.Models.historiaClinica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>historiaClinica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mascotas.nomMascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascotas.nomMascota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoConsulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vacuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vacuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idHistoriaClinica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
